{%extends 'accounts/base.html'%}
{%block body%}



<div class="container">

<div align="center">
     <h2>Please Sign In with Your Instagram Account</h2><br><br>
            <a href="https://api.instagram.com/oauth/authorize/?client_id=6ba0189dce2c40e4955d1bca680186ad&redirect_uri=http://arunsharma.pythonanywhere.com/&response_type=token
"

               class="btn btn-primary   btn-social btn-md btn-instagram"  ><i class="fa fa-instagram"></i>Sign in with Instagram</a>
</div>

</div>
{%endblock%}